@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');

:root {
  --background: #F5F6FA;
  --foreground: #1E3D59;
}

 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E3D59;
    --foreground: #F5F6FA;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Bricolage Grotesque', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
